Source: wb-mcu-fw-updater
Maintainer: Wiren Board team <info@wirenboard.com>
Section: python
Priority: optional
XS-Python-Version: >= 3.9
Build-Depends: dh-python, debhelper (>= 10), python3, python3-setuptools
Standards-Version: 4.5.1
Homepage: https://github.com/wirenboard/wb-mcu-fw-updater
X-Python-Version: >= 3.9

Package: python3-wb-mcu-fw-updater
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-serial, python3-yaml, python3-tqdm, python3-six, python3-semantic-version, python3-wb-common (>= 2.1.0), python3-mqttrpc (>= 1.1.2), psmisc
Recommends: wb-mqtt-serial (>= 2.73.0)
Description: Wiren Board modbus devices firmware update and modbus bindings python libraries (python 3)
 Python3 library (wb_mcu_fw_updater + wb_modbus).

Package: wb-mcu-fw-updater
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-wb-mcu-fw-updater (= ${binary:Version}), wb-release-info
Description: Wiren Board modbus devices firmware update tool (python 3)
 A command-line tool, updating WirenBoard modbus devices to latest firmwares.
