#!/usr/bin/make -f

export DH_VERBOSE=1
export PYBUILD_NAME=wb_mcu_fw_updater
export PYBUILD_DESTDIR_python2=debian/python-wb-mcu-fw-updater/
export PYBUILD_DESTDIR_python3=debian/python3-wb-mcu-fw-updater/

%:
	dh $@ --with python2,python3 --buildsystem=pybuild
